<header>
    <h1><a href="/">MyBrary</a></h1>
    <nav>
        <ul>
            <li><a href="/authors/new">New Author</a></li>
            <li><a href="/authors">All Authors</a></li>
        </ul>
    </nav>
</header>