<%authors.forEach(author=>{ %>
    <div>
        <p><%=author.name %></p>
        <form action="/authors/<%=author.id%>?_method=DELETE" method="post">
            <button type="submit">cancella</button>
        </form>
    </div>
<%}) %>
<form action="/authors/tutti" method="post">
        <button type="submit">cancella tutti</button>
</form>